

.Home-imageContainer {
    padding: 0 5%;
    margin: var(--m);
  }
  

.Home-image {
    height: 300px;
    width: 100%;
    display: block;
    
    /* Centering on image`s center*/
    background-position-y: center;
    background-position-x: center;
    background-repeat: no-repeat;
  
    /* it makes the clue thing, takes smaller dimension to fill div */
    background-size: contain;
  
    /* it is optional, for making this div centered in parent*/
    margin: 0 auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("../../../dist/images/HomeIcon.svg");
  
}

.Home-introText{
    font-family: Open Sans Condensed;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    align-items: center;
    text-align: center;
    color: var(--textgrey);
}

.Home-button{
    background: var(--primarypink);
    border-radius: 50px;
    display: flex;
    flex-basis: 0;
    flex-grow: 0;
    padding: var(--xs) var(--m);
    margin: var(--m);
    text-decoration: none;
}

.Home-buttonText{
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    align-items: center;
    text-align: center;
    color: var(--white);
}