.ShopList-container{
    display: flex;
    flex-direction: row;
    margin: var(--m);
}

.ShopList-bgbox{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: var(--m);

    width: 50%;
    height: 898px;
    background-color: var(--brown);
    border-radius: 45px;
}

.ShopList-title{
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    padding: 0px;
    margin: 0px;
    color: var(--textgray);
}

.ShopList-padline{
    background-color: var(--yellow);
    border: 1px solid #000000;
    box-sizing: border-box;
    position: absolute;
    width: 635px;
    height: 858px;
}