.fridgelistitem-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  
    height: 40px;
    width:100%;
    padding-left: 8px;
    padding-right: 8px;

    background: #FFFFFF;
    border: 5px solid;
    box-sizing: border-box;
}

.fridgelistitem-text {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    text-align: center;
}

.fridgelistitem-delete {
    font-family: "Open Sans", sans-serif;
    text-align: center;
    font-weight: bold;
}

.fridgelistitem-safe {
    border-color: #BDBDBD;
}

.fridgelistitem-warning {
    border-color: var(--orange);
}

.fridgelistitem-expired {
    border-color: var(--red);
}