.card-container {
  margin-top: var(--m);
  margin-bottom: var(--m);
  padding-top: var(--m);
  padding-bottom: var(--m);

  border-top: var(--s);
  border-top-color: var(--lightblue);

  width: auto;

  background: var(--medgrey);
}

.card-title {
  font-family: Open Sans, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: var(--l);
  text-decoration: underline;

  color: black;

  margin-left: var(--m);
}

.card-text {
  font-family: Open Sans Condensed, sans-serif;
  font-size: var(--m);

  color: black;

  margin-left:var(--m);
  margin-top:var(--xs);
}

.card-pic {
  width:500px;
  height:200px;
  margin-top: var(--s);

  background-color: goldenrod;
}
  