.ShopListItem-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    height: 40px;
    width:100%;
    padding: 0px 8px;
    margin: 0px;
    background: var(--yellow);
    border: 1px solid;
    box-sizing: border-box;
}

.ShopListItem-text {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    flex-basis: 0;
    text-align: center;
    padding: 0px;
    margin: 0px;
}

.ShopListItem-qt {
    flex-grow: 1;
}

.ShopListItem-name {
    flex-grow: 10;
}

.ShopListItem-qt + .ShopListItem-name {
    border-left: solid 1px var(--black);
}

.ShopListItem-buttonContainer {
    flex-grow: 2;
    flex-basis: 0;
}
